.Nav{
  padding: 30px 40px;
  border-bottom:1px solid #DDDDDD;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul{
  display: flex;
  align-items:center;
  justify-content: center;
  gap: 32px;
  font-size: 20px;
  color:#282828;
}

nav ul li:hover{
  color:#339933;
}