.container>h1{
  
    font-size: 64px;
    color: #282828;
    font-weight: 700;
    margin-top: 80px;
  
}

.container{
  padding-left: 40px;
  padding-right: 40px;
}
.cards{
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  gap: 32px;
  .card-top{
    display: flex;
    gap: 32px;
    justify-content: space-between;

    .card-top-item{
      background-color:#F1F3F4;
      padding:32px;
      display: flex;
      flex-direction: column;
      gap: 16px;
      border-radius:5px;
    }
    .item1{
      flex-grow: 1;
      h1{
        font-size: 20px;
        color: #8B8B8B;
        font-weight: normal;
      }
      .phone{
        font-size:40px;
        color: #282828;
      }
    }
    .item2{
      flex-grow: 1;
      h1{
        font-size: 20px;
        color: #8B8B8B;
        font-weight: normal;
      }
      div{
        display: flex;
        gap: 16px;
      }
    }
  }
  .card-bottom{
    display: flex;
    gap: 32px;
    justify-content: space-between;

    .card-bottom-item{
      background-color:#F1F3F4;
      padding:32px;
      display: flex;
      flex-direction: column;
      gap: 16px;
      border-radius:5px;
    }
    .item1{
      flex-grow: 3;
    }
    .item2{
      flex-grow: 2;
    }
  }
}
